@font-face{
  font-family: a번개;
  src: url('../others/a번개.ttf') format('truetype');}

#main { font-family: a번개;
  text-decoration: none;
  color: white;
}
@font-face {
  font-family: a타이틀고딕2;
  src: url('../others/a타이틀고딕2.ttf') format('truetype');
}

* { font-family: a타이틀고딕2; }

html {
  background: url('../others/background5.jpg') no-repeat center center fixed; /*이미지 반복없이 가운데 정렬 및 고정*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; /*사이즈에 맞게 background사이즈 조절*/
  background-color: black; /*배경색 검정*/
}

#page-title{
  text-align: center;
  color: white;
  text-shadow: black 2px 2px 5px; /*글자 그림자 생성*/
  font-size: 50px;
}

#page-wrapper{
  width: 100%;
  height: 50%;
}

nav{
  margin: 5%;
  background: rgba(0,0,0,0.8);
  border-radius: 5px;
  padding-bottom: 5%;
  overflow: auto;
}

footer{
  color:white;
  bottom: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  left: 0;
  width: 100%;
  text-shadow: black 2px 2px 5px;
}

.contact-us a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

img{
  float: left;
  max-height: 300px;
  margin-top: 5%;
  margin-left: 5%;
  min-width:20%;
  max-width:35%;
}

#page-wrapper{
  width: 100%;
  height: 70%;
  max-width:2000px;
  min-width: 600px;
  display: block;
  position: absolute;
  left: 0;
  top:30%;
  bottom: 0;
  background-size: cover;
  z-index: 0; /*화면에서 보이는 순위 조정*/
}
.Menu{
  position:relative;
  float:right; /*오른쪽으로 떠다닐 수 있도록 적용*/
  width:58%;
  z-index:1; /*화면에서 더 위쪽에 보이도록 z-index 속성 부여*/
}
.Menu ul {
  margin-top: 12%;
  margin-right: 5%;
  overflow:hidden;
}
.Menu li{
  display:table;
  float:left;
  width:calc(50% - 4px); /*넓이를 계산해서 적용*/
  margin:0 0 8px 0;
}
.Menu li>a{
  display:table-cell; /*dic 요소처럼 표현*/
  border-radius: 10px;
  border: 1px red;
  text-decoration: none;
  height:80px;
  box-sizing:border-box;
  border-width: thin;
  border-color: red;
  padding:0 35px 0 20px;
  background:rgba(0,0,0,0.5);
  color:white;
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
}
.Menu li:nth-child(2n) {margin: 0 0 8px 8px;} /*.Menu클라스의 2n자식들에게만 스타일 적용*/
.Menu li:hover{
  background-color: red;
  border-radius: 10px;

  transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;
}

#main-footer {
  font-size: 150%;
}

html {
    margin:0;
    padding:0;
    height:100%;
}

#page-wrapper {
  position:relative;
  min-height:100%;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;
}
